@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Ubuntu+Condensed&display=swap');



* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: inherit;
	list-style: none;
	text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif, 'Times New Roman', Times, serif;
	font-family: 'Architects Daughter', cursive;
	word-wrap: break-word;
	transition: all 0.2s;
}

body {
	background: url("/static/images/farm.jpg") no-repeat fixed;
	background-size: cover;
	animation: fading_animation 2s ease-in 1 linear forwards;
}


label,button,a,span,li,td{
	cursor: pointer;
}