{% include '/components/default_start.html' %}
    {% include '/components/header.html' %}



        <div class="home_section">
            <div class="dectecton_nav">
                <i class="fas fa-project-diagram"></i>
                <a href="/visualization">Data Visualization</a>
            </div>
            <div class="dectecton_nav">
                <i class="far fa-images"></i>
                <a href="/detection">Crop Disease Prediction</a>
            </div>
            <div class="dectecton_nav">
                <i class="fas fa-file-image"></i>
                <a href="/prediction">Crop Prediction</a>
            </div>
        </div>



    {% include '/components/footer.html' %}
{% include '/components/default_end.html' %}
